# FastAPI & Web Server
fastapi
uvicorn[standard]
python-multipart

# Google Earth Engine & Geo Libraries
google-api-python-client
earthengine-api==1.6.6
matplotlib==3.10.6
geemap==0.36.2
geopy
polyline==2.0.3
haversine==2.9.0

# Database & Data Handling
mysql-connector-python
sqlalchemy
pandas==2.3.2

# Utilities & Dependencies
pydantic[email]
python-dotenv
requests
schemas
cryptography
python-decouple

streamlit
protobuf==3.20.*
streamlit-folium
folium
streamlit-autorefresh
Pillow